/* Make sure you place the base color of the website in a variable */
:root {
  --main-color: #07f;
}
/* The main styles */
* {
  box-sizing: border-box;
  max-width: 100%;
}
html {
  scroll-behavior: smooth;
  /* For change scroll bar in firefox*/
  scrollbar-color: var(--main-color, #07f) #fff;
  scrollbar-width: thin; /*or auto*/
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
::selection {
  background-color: var(--main-color, #07f);
  color: #fff;
}

/* For change scroll bar */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: var(--main-background, #fff);
}
::-webkit-scrollbar-thumb {
  background: var(--main-color, #07f);
}
::-webkit-scrollbar-thumb:hover {
  border: 1px solid #fff;
}

/* global values */
h1 { font-size: 2.2em; }
p {
  line-height: 2;
}
@media (max-width: 500px) {
  h1 { font-size: 1.7em; }
  p { font-size: 14px; }
}
@media (max-width: 350px) {
  h1 { font-size: 1.5em; }
  p { font-size: 12px;}
}

ul, ol {
  margin: 0;
  padding: 0;
}
li { list-style: none; }
a {
  text-decoration: none;
  user-select: none;
}
nav, footer { user-select: none; }
img {
  pointer-events: none;
  user-select: none;
}

input {
  border: none;
  outline: none;
  caret-color: var(--main-color, #07f);
}
[type="submit"] {
  cursor: pointer;
  text-transform: capitalize;
}
textarea {
  resize: vertical; /* both */
}

/* Container */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}