footer
  .container
    .top
      .box
        img(src="images/icon.png", alt="Customize.css")
        p Modern alternative to reset css & html elements
        p Source Code available on #[a(href="https://github.com/kareem-m/customize.css") #[i(class="fab fa-github")]]
      .box
        h4 Links
        li #[a(href="index.html") Home]
        li #[a(href="about.html") About]
        li #[a(href="get-started.html") Get Started]
      .box
        h4 Developer Profiles
        li #[a(href="https://github.com/kareem-m" target="_blank") GitHub]
        li #[a(href="https://www.facebook.com/kareem1911/" target="_blank") Facebook]
    hr
    .bootom
      span Developed by #[a(href="https://github.com/kareem-m" target="_blank") Kareem] #[i(class="far fa-copyright" aria-hidden="true")] 2021 All rights reserved.