nav
  .container
    .logo
      a(href='index.html') #[img(src='images/icon.png' alt='Logo')]
    .links
      label(for="checkbox") #[i(class="fas fa-bars")]
      input(type="checkbox", id="checkbox")
      ul
        li #[a(href='index.html') Home]
        li #[a(href='about.html') About]
        li #[a(href='get-started.html') Get Started]
        li #[a.active(href='customize.css' download) Download]